@charset "UTF-8";
html {
  height: 100%;
  font-family: Helvetica, '宋体', Microsoft YaHei, Tahoma, Arial, sans-serif;
  font-size: 100px;
  max-width: 768px;
  margin: 0 auto;
}

body {
  height: 100%;
  font-size: 0.12rem;
}

a {
  text-decoration: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
